* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: lex;
    src: url(LexendGiga-VariableFont_wght.ttf);
}

@font-face{
    font-family: big;
    src: url(LexendTera-Bold.ttf)
}

@font-face {
    font-family: noto;
    src: url(NotoSansKR-Medium.ttf);
}

#viewport{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    top: 0px;
    right: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: white;
    font-family: noto;

}


.item {
    background-color: white;
    color: black;
    margin: 4px;
    top:50%;
    left: 100px;
    position: absolute;
    font-family: lex;
    font-size: 32px;
    transform: translateY(-50%);
  }


#viewport > p{
    margin-right: 100px;
}

#menu{
    position: absolute;
    top: 50%;
    right: 100px;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
}

#menu > p{
    margin-left: 100px;
}

.item a, #menu p a {

    transition: color 0.3s ease;
}

.hm:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}

.hm:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.hm:hover{
    color: #FC4B22;
    text-decoration: none;
}

.pf:link {
    color: black;
    background-color: transparent;
    text-decoration: none;

}

.pf:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.pf:hover {
    color:#FC4B22;
    text-decoration: none;
}

.wk:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.wk:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.wk:hover{
    color: #FC4B22;
    text-decoration: none;
}

#designer{
    position: absolute;
    width: 676.14px;
    height: 100px;
    top: 124px;
    left: 100px;
    font-size: 64px;
    font-family: lex;
    color: white;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#LEEJIN-GI{
    position: absolute;
    width: 820px;
    height: 74.06px;
    top: 214px;
    left: 100px;
    font-size: 64px;
    font-family: lex;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#birth{
    position: absolute;
    width: 450px;
    height: 74.06px;
    top: 124px;
    right: 100px;
    font-size: 64px;
    font-family: lex;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#box{
    position: absolute;
    width: 355px;
    height: 10px;
    top: 160px;
    left: 580px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mypic{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 400px;
    left: 200px;
}

#contact{
    position: absolute;
    width: 72px;
    height: 29px;
    top: 345px;
    right: 650px;
    font-size: 18px;
    font-family: noto;

}

#education{
    position: absolute;
    width: 72px;
    height: 29px;
    top: 510px;
    right: 650px;
    font-size: 18px;
    font-family: noto;

}

#skills{
    position: absolute;
    width: 72px;
    height: 29px;
    top: 680px;
    right: 650px;
    font-size: 18px;
    font-family: noto;
}

#contact2{
    position: absolute;
    width: 300px;
    height: 45px;
    top: 345px;
    right: 200px;
    font-size: 16px;
    font-family: noto;
    line-height: 180%;
}

#education2{
    position: absolute;
    width: 300px;
    height: 45px;
    top: 510px;
    right: 200px;
    font-size: 16px;
    font-family: noto;
    line-height: 200%;
}

#skills2{
    position: absolute;
    width: 206px;
    height: 92px;
    top: 680px;
    right: 300px;
}

#line1{
    position:absolute;
    width: 691px;
    height: 0px;
    top: 450px;
    right: 100px;
    border: 1px solid rgb(207, 207, 207);
}

#line2{
    position:absolute;
    width: 691px;
    height: 0px;
    top: 620px;
    right: 100px;
    border: 1px solid rgb(207,207,207);
}


#history{
    position: absolute;
    width: 676.14px;
    height: 100px;
    top: 1000px;
    left: 100px;
    font-size: 64px;
    font-family: lex;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hispic{
    position: absolute;
    display: inline-flex;
    width: 440px;
    height: 571.0469314079422px;
    top: 1080px;
    left: 90px;
}

.wow{
    margin-left: 10px;
}

#high{
    position: absolute;
    width: 440px;
    height: 20px;
    top: 1660px;
    left: 100px;

    font-size: 12px;
    font-family: noto;
    flex-direction: row;
    text-align: center;
}

#uni{
    position: absolute;
    width: 440px;
    height: 20px;
    top: 1660px;
    left: 550px;

    font-size: 12px;
    font-family: noto;
    flex-direction: row;
    text-align: center;
}

#pre{
    position: absolute;
    width: 440px;
    height: 20px;
    top: 1660px;
    left: 1000px;

    font-size: 12px;
    font-family: noto;
    flex-direction: row;
    text-align: center;
}







#puter{
    width: 100%;
    height: 320px;
    position: relative;
    display: block;
    flex-direction: row;
    bottom: -1900px;
    right: 0px;
    padding-left: 100px;
    padding-top: 75px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-family: noto;
    font-size: 12px;
}


.put {
    color: white;
    font-family: lex;
    font-size: 32px;
    margin-bottom: 135px;
    
  }

#line3{
    position: absolute;
    width: 1325px;
    height: 0px;
    bottom: 132px;
    border: 1px solid rgb(255, 255, 255);
}

.ins{
    position: absolute;
    display: inline-flex;
    width: 43px;
    height: 43px;
    bottom: 200px;
    right: 100px;
}


#arrow {
    position: absolute;
    width: 132px;
    height: 65px;
    top: 1750px;
    right: 100px;
  }

.size{
    transform: scale(1.2) rotate(360deg);
}

/* 마우스를 올렸을 때 이미지 커짐 */
.enlarging-image {
    width: 150px; /* 이미지 너비 */
    height: auto; /* 비율 유지 */
    transition: transform 0.3s ease; /* 크기 변경 시 부드러운 트랜지션 */
}

.enlarging-image:hover {
    transform: scale(1.2); /* 이미지 1.2배 확대 */
}





/* 미디어 쿼리: 768px 이상 */
@media (max-width: 768px) {
    #viewport {
        width: 100%;
        height: 100px;
        position: fixed;
        display: inline;
        top: 0px;
        left: 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 5;
        background-color: white;
        font-family: noto;
    }

    .item {
        font-size: 24px; 
        left: 30px; 
    }

    #menu {
        font-size: 16px;
        right: 30px;
    }

    #menu > p{
        margin-left: 30px;
    }
     /*여기까지 뷰포트*/

     #designer{
        position: absolute;
        width: auto;
        height: auto;
        top: 148px;
        left: 30px;
        font-size: 40px;
        font-family: lex;
        color: white;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #LEEJIN-GI{
        position: absolute;
        width: 820px;
        height: 74.06px;
        top: 214px;
        left: 30px;
        font-size: 40px;
        font-family: lex;
        color: black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }    

    #box{
        position: absolute;
        width: 120px;
        height: 10px;
        top: 170px;
        left: 320px;
        border: 1px solid black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #birth{
        position: absolute;
        width: auto;
        height: auto;
        top: 148px;
        left: 460px;
        font-size: 40px;
        font-family: lex;
        color: black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #mypic{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 325px;
        left: 225px;
    }

    #contact{
        position: absolute;
        width: 72px;
        height: 29px;
        top: 700px;
        left: 100px;
        font-size: 18px;
        font-family: noto;
    
    }
    
    #education{
        position: absolute;
        width: 72px;
        height: 29px;
        top: 865px;
        left: 100px;
        font-size: 18px;
        font-family: noto;
    
    }
    
    #skills{
        position: absolute;
        width: 72px;
        height: 29px;
        top: 1035px;
        left: 100px;
        font-size: 18px;
        font-family: noto;
    }
    
    #contact2{
        position: absolute;
        width: 300px;
        height: 45px;
        top: 700px;
        left: 325px;
        font-size: 16px;
        font-family: noto;
        line-height: 180%;
    }
    
    #education2{
        position: absolute;
        width: 300px;
        height: 45px;
        top: 865px;
        left: 325px;
        font-size: 16px;
        font-family: noto;
        line-height: 200%;
    }
    
    #skills2{
        position: absolute;
        width: 206px;
        height: 92px;
        top: 1035px;
        left: 325px;
    }
    
    #line1{
        position:absolute;
        width: 678px;
        height: 0px;
        top: 805px;
        left: 30px;
        border: 1px solid rgb(207, 207, 207);
    }
    
    #line2{
        position:absolute;
        width: 678px;
        height: 0px;
        top: 975px;
        left: 30px;
        border: 1px solid rgb(207,207,207);
    }



    #history{
    position: absolute;
    width: 676.14px;
    height: 100px;
    top: 1400px;
    left: 30px;
    font-size: 48px;
    font-family: lex;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    #hispic{
    position: absolute;
    display: inline-flex;
    width: 226px;
    height: 293.3104693140794px;
    top: 1465px;
    left: 30px;
    }

    .wow{
    margin-left: 0px;
    }

    #high{
    position: absolute;
    width: 226px;
    height: 20px;
    top: 1758px;
    left: 30px;
    font-size: 12px;
    font-family: noto;
    flex-direction: row;
    text-align: center;
    }

    #uni{
    position: absolute;
    width: 226px;
    height: 20px;
    top: 1758px;
    left: 256px;

    font-size: 12px;
    font-family: noto;
    flex-direction: row;
    text-align: center;
    }

    #pre{
    position: absolute;
    width: 226px;
    height: 20px;
    top: 1758px;
    left: 482px;

    font-size: 12px;
    font-family: noto;
    flex-direction: row;
    text-align: center;
    }

    #arrow {
        position: absolute;
        width: 101.53846153846153px;
        height: 50px;
        top: 1850px;
        right: 30px;
      }

      


    /*여기부터 푸터*/ 
    #puter{
        width: 100%;
        height: 320px;
        position: relative;
        display: block;
        flex-direction: row;
        bottom: -2025px;
        right: 0PX;
        padding-left: 30px;
        padding-top: 75px;
        background-color: rgb(0, 0, 0);
        color:white;
        font-family: noto;
        font-size: 12px;
    }
    
    .put {
        color: white;
        font-family: lex;
        font-size: 24px;
        margin-bottom: 135px;
        
      }
    
    #line3{
        position: absolute;
        width: 678px;
        height: 0px;
        bottom: 132px;
        border: 1px solid rgb(255, 255, 255);
    }
    
    .ins{
        position: absolute;
        display: inline-flex;
        width: 24px;
        height: 24px;
        bottom: 214px;
        right: 30px;
    }
    
   

}


@media (max-width: 1800px){
    #box{
        display: none;
    }
}


@media (max-width: 320px) {
    #viewport {
        width: 100%;
        height: 50px;
        position: fixed;
        display: inline;
        top: 0px;
        left: 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 5;
        background-color: white;
        font-family: noto;
    }

    .item {
        font-size: 12px; 
        left: 20px; 
    }

    #menu {
        display: inline;
        font-size: 8px;
        left: 250px;
    }

    #menu > p{
        margin-top: 5px;
        margin-left: 10px;
    }
     /*여기까지 뷰포트*/

    #designer{
        position: absolute;
        width: auto;
        height: auto;
        top: 100px;
        left: 30px;
        font-size: 24px;
        font-family: lex;
        color: white;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #LEEJIN-GI{
        position: absolute;
        width: 820px;
        height: 74.06px;
        top: 130px;
        left: 30px;
        font-size: 24px;
        font-family: lex;
        color: black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 

    #box{
        display: none;
    }

    #birth{
        position: absolute;
        width: auto;
        height: auto;
        top: 190px;
        left: 30px;
        font-size: 24px;
        font-family: lex;
        color: black;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #mypic{
        position: absolute;
        width: 150px;
        height: 150px;
        top: 250px;
        left: 80px;
    }

    #contact{
        position: absolute;
        width: 72px;
        height: 29px;
        top: 600px;
        left: 50px;
        font-size: 12px;
        font-family: noto;
    
    }
    
    #education{
        position: absolute;
        width: 72px;
        height: 29px;
        top: 720px;
        left: 50px;
        font-size: 12px;
        font-family: noto;
    
    }
    
    #skills{
        position: absolute;
        width: 72px;
        height: 29px;
        top: 840px;
        left: 50px;
        font-size: 12px;
        font-family: noto;
    }
    
    #contact2{
        position: absolute;
        width: 300px;
        height: 45px;
        top: 600px;
        left: 140px;
        font-size: 8px;
        font-family: noto;
        line-height: 180%;
    }
    
    #education2{
        position: absolute;
        width: 300px;
        height: 45px;
        top: 720px;
        left: 140px;
        font-size: 8px;
        font-family: noto;
        line-height: 200%;
    }
    
    #skills2{
        position: absolute;
        width: 140px;
        height: 62.52427184466019px;
        top: 840px;
        left: 140px;
    }
    
    #line1{
        position:absolute;
        width: 270px;
        height: 0px;
        top: 675px;
        left: 30px;
        border: 1px solid rgb(207, 207, 207);
    }
    
    #line2{
        position:absolute;
        width: 270px;
        height: 0px;
        top: 800px;
        left: 30px;
        border: 1px solid rgb(207,207,207);
    }


    #history{
    position: absolute;
    width: 676.14px;
    height: auto;
    top: 1100px;
    left: 30px;
    font-size: 24px;
    font-family: lex;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    #hispic {
        flex-direction: column; /* 세로 정렬로 변경 */
        width: 280px; /* 컨테이너의 가로 크기 조절 */
        top:1130px;
        left: 30px; /* 위치 자동 조정 */
        right: 0; /* 오른쪽에 위치 */
    }

    .wow {
        margin-left: 0; /* 세로 정렬 시 왼쪽 여백 제거 */
        margin-bottom: 10px; /* 이미지 간격 조절 */
        width: 270px; /* 이미지의 가로 크기를 260px로 조정 */
        height: auto; /* 높이를 자동으로 비율에 맞게 조정 */
    }

    #high{
        display:none;
    }

    #uni{
        display: none;
    }

    #pre{
         display:none;
    }

    #arrow {
        position: absolute;
        width: 101.53846153846153px;
        height: 50px;
        top: 2225px;
        left: 200px;
      }


    /*여기부터 푸터*/ 
    #puter{
        width: 100%;
        height: 100px;
        position: relative;
        display: block;
        flex-direction: row;
        bottom: -2300px;
        right: 0PX;
        padding-left: 20px;
        padding-top: 25px;
        background-color: rgb(0, 0, 0);
        color:white;
        font-family: noto;
        font-size: 6px;
    }
    
    .put {
        color: white;
        font-family: lex;
        font-size: 12px;
        margin-bottom: 30px;
        
      }
    
    #line3{
        position: absolute;
        width: 280px;
        height: 0px;
        bottom: 40px;
        border: 1px solid rgb(255, 255, 255);
    }
    
    .ins{
        position: absolute;
        display: inline-flex;
        width: 12px;
        height: 12px;
        bottom: 60px;
        right: 20px;
    }
}